In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("train.csv")

In [5]:
df.head()

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [6]:
df

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...
10975,569934458364813313,neutral,American,NaN,Cottopanama85,NaN,0,@AmericanAir followback,NaN,2015-02-23 10:58:58 -0800,"ohio,panama",NaN
10976,568564006329434113,positive,United,NaN,PaulBEsteves,NaN,0,@united thanks for the help. Wish the phone re...,NaN,2015-02-19 16:13:17 -0800,Brooklyn,Eastern Time (US & Canada)
10977,569643648910028801,negative,US Airways,NaN,runfixsteve,NaN,0,@usairways the. Worst. Ever. #dca #customerser...,NaN,2015-02-22 15:43:24 -0800,"St. Augustine, Florida",NaN
10978,568864981917110272,negative,US Airways,NaN,CLChicosky,NaN,0,@nrhodes85: look! Another apology. DO NOT FLY ...,NaN,2015-02-20 12:09:15 -0800,NaN,NaN
10979,568929299350179840,negative,United,NaN,JW_Blocker,NaN,1,@united you are by far the worst airline. 4 pl...,NaN,2015-02-20 16:24:49 -0800,NaN,NaN

In [7]:
df.isna().sum()

tweet_id                      0
airline_sentiment             0
airline                       0
airline_sentiment_gold    10949
name                          0
negativereason_gold       10956
retweet_count                 0
text                          0
tweet_coord               10204
tweet_created                 0
tweet_location             3550
user_timezone              3577
dtype: int64

# Cleaning the dataset

In [8]:
# Removing redundant columns
del df['tweet_id']
del df['airline']
del df['airline_sentiment_gold']
del df['name']
del df['negativereason_gold']
del df['retweet_count']
del df['tweet_coord']
del df['tweet_created']
del df['tweet_location']
del df['user_timezone']

In [9]:
df

      airline_sentiment                                               text
0              negative  @SouthwestAir I am scheduled for the morning, ...
1              positive  @SouthwestAir seeing your workers time in and ...
2              positive  @united Flew ORD to Miami and back and  had gr...
3              negative     @SouthwestAir @dultch97 that's horse radish üò§üê¥
4              negative  @united so our flight into ORD was delayed bec...
...                 ...                                                ...
10975           neutral                            @AmericanAir followback
10976          positive  @united thanks for the help. Wish the phone re...
10977          negative  @usairways the. Worst. Ever. #dca #customerser...
10978          negative  @nrhodes85: look! Another apology. DO NOT FLY ...
10979          negative  @united you are by far the worst airline. 4 pl...

[10980 rows x 2 columns]

In [10]:
docs=df.values

In [14]:
docs[0:5]

array([['negative',
        '@SouthwestAir I am scheduled for the morning, 2 days after the fact, yes..not sure why my evening flight was the only one Cancelled Flightled'],
       ['positive',
        '@SouthwestAir seeing your workers time in and time out going above and beyond is why I love flying with you guys. Thank you!'],
       ['positive',
        '@united Flew ORD to Miami and back and  had great crew, service on both legs. THANKS'],
       ['negative', "@SouthwestAir @dultch97 that's horse radish üò§üê¥"],
       ['negative',
        '@united so our flight into ORD was delayed because of Air Force One, but the last flight to SBN is at 8:20, 5 mins from now we just landed.']],
      dtype=object)

In [16]:
docs.shape

(10980, 2)

In [96]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
import string

In [90]:
stop=stopwords.words('english')
puncs=list(string.punctuation)
stop+= puncs

In [91]:
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 '!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [100]:
def get_pos_tag(tag):
    if(tag.startswith('J')):
        return wordnet.ADJ
    elif(tag.startswith('N')):
        return wordnet.NOUN
    elif(tag.startswith('V')):
        return wordnet.VERB
    elif(tag.startswith('R')):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [101]:
lemmatizer=WordNetLemmatizer()
def clean_review(words):
    clean_words=[]
    for w in word_tokenize(words):
        if w.lower() not in stop and w.lower() not in clean_words and w.isalpha():
            clean_word=lemmatizer.lemmatize(w,pos=get_pos_tag(pos_tag([w])[0][1]))
            clean_words.append(clean_word.lower())
    return clean_words

In [102]:
sample_text=docs[0][1]
clean_review(sample_text)

['southwestair',
 'schedule',
 'morning',
 'day',
 'fact',
 'sure',
 'even',
 'flight',
 'one',
 'cancelled',
 'flightled']

In [103]:
documents=[clean_review(doc) for (category,doc) in docs]
labels=[category for (category,doc) in docs]

In [109]:
print(len(documents))
len(labels)

10980

10980

In [112]:
documents[0:5]

[['southwestair',
  'schedule',
  'morning',
  'day',
  'fact',
  'sure',
  'even',
  'flight',
  'one',
  'cancelled',
  'flightled'],
 ['southwestair',
  'see',
  'worker',
  'time',
  'go',
  'beyond',
  'love',
  'fly',
  'guy',
  'thank'],
 ['united',
  'flew',
  'ord',
  'miami',
  'back',
  'great',
  'crew',
  'service',
  'leg',
  'thanks'],
 ['southwestair', 'horse', 'radish'],
 ['united',
  'flight',
  'ord',
  'delayed',
  'air',
  'force',
  'one',
  'last',
  'sbn',
  'min',
  'land']]

In [124]:
documents=[" ".join(doc) for doc in documents]

In [125]:
documents[0:5]

['southwestair schedule morning day fact sure even flight one cancelled flightled',
 'southwestair see worker time go beyond love fly guy thank',
 'united flew ord miami back great crew service leg thanks',
 'southwestair horse radish',
 'united flight ord delayed air force one last sbn min land']

# Classification

In [118]:
from sklearn.svm import SVC
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [126]:
x_train,x_test,y_train,y_test=train_test_split(documents,labels)

In [162]:
cv=CountVectorizer(max_features=2500,ngram_range=(1,2))
x_train_features=cv.fit_transform(x_train,y_train)
x_test_features=cv.transform(x_test)

# SVM Classification

In [163]:
svm=SVC(C=10)
svm.fit(x_train_features,y_train)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [164]:
svm.score(x_test_features,y_test)

0.7657559198542805

# Random Forests Classification

In [165]:
from sklearn.ensemble import RandomForestClassifier

In [166]:
rf=RandomForestClassifier()
rf.fit(x_train_features,y_train)
rf.score(x_test_features,y_test)

0.7551912568306011